/* These are the general stylings for the root and body elements... */
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: steelblue;
  color: #fff;
  font-family: "Young serif";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* These are for the main container... */
.container {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 20px 40px;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  text-decoration: none;
  color: lightblue;
}

/* These are for the button element */
.btn {
  display: inline-block;
  background-color: lightblue;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-family: inherit;
}

.btn:focus {
  outline: 0;
}
.btn:active {
  transform: scale(0.98);
}

/* These are for the general form and its input element... */
.form-control {
  position: relative;
  width: 300px;
  margin: 20px 0 40px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #fff;
  display: block;
  font-size: 18px;
  width: 100%;
  padding: 15px 0;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

/* These are for the form labels and its wave animations... */
.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.5);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}
